<nz-spin [nzSpinning]="isLoading">
	<form [formGroup]="formGroup" (ngSubmit)="onUpdateProveedor()" class="space-y-4">
		<div class="flex justify-between items-center mb-6">
			<p class="text-sm text-gray-500">Complete la información del nuevo proveedor</p>
			<button
				type="button"
				class="inline-flex outline-none items-center px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 transition-colors duration-200"
			>
				<i nz-icon nzType="user-add" nzTheme="outline" class="mr-2"></i>
				Nuevo Proveedor
			</button>
		</div>

		<!-- Tipo de Persona -->
		<div class="mb-4">
			<label class="block text-sm font-medium text-gray-700 mb-1"> Persona </label>
			<select
				formControlName="id_persona"
				class="w-full outline-none rounded-md border border-gray-300 py-2 px-3 text-sm focus:ring-blue-500 focus:border-blue-500"
			>
				<option value="">Seleccione una persona</option>
				@for (persona of tipoPersonasProveedor; track persona.id_persona) {
					<option [value]="persona.id_persona">{{ obtenerNombreMostrar(persona) }}</option>
				}
			</select>

			@if (personaProveedorControlField.touched && personaProveedorControlField.hasError('required')) {
				<p class="mt-1 text-sm text-red-600">Por favor seleccione una persona</p>
			}
		</div>

		<!-- Nombre Comercial -->
		<div class="mb-4">
			<label class="block text-sm font-medium text-gray-700 mb-1"> Nombre Comercial </label>
			<input
				type="text"
				formControlName="nombre_comercial"
				class="w-full outline-none rounded-md border border-gray-300 py-2 px-3 text-sm focus:ring-blue-500 focus:border-blue-500"
				placeholder=""
			/>

			@if (nombreComercialControlField.touched && nombreComercialControlField.hasError('required')) {
				<p class="mt-1 text-sm text-red-600">Por favor ingrese el nombre comercial</p>
			}
		</div>

		<!-- Estado -->
		<div class="mb-4">
			<label class="block text-sm font-medium text-gray-700 mb-1"> Estado Proveedor </label>
			<select
				formControlName="estado_proveedor"
				class="w-full outline-none rounded-md border border-gray-300 py-2 px-3 text-sm focus:ring-blue-500 focus:border-blue-500"
			>
				<option value="">Seleccione un estado</option>
				<option value="Activo">Activo</option>
				<option value="Inactivo">Inactivo</option>
				<option value="Suspendido">Suspendido</option>
			</select>

			@if (estadoProveedorControlField.touched && estadoProveedorControlField.hasError('required')) {
				<p class="mt-1 text-sm text-red-600">Por favor seleccione un estado</p>
			}
		</div>

		<!-- Botones de acción -->
		<div class="flex justify-end gap-3 pt-4">
			<button
				type="submit"
				[disabled]="!formGroup.valid"
				class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 disabled:opacity-50 flex items-center"
			>
				<i nz-icon nzType="save" nzTheme="outline" class="mr-2"></i>
				Guardar
			</button>
			<button
				type="button"
				(click)="cancelar()"
				class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 flex items-center"
			>
				<i nz-icon nzType="close-circle" nzTheme="outline" class="mr-2"></i>
				Cancelar
			</button>
		</div>
	</form>
</nz-spin>
