<div>
	<nz-breadcrumb class="font-bold text-sm" [nzAutoGenerate]="true"> </nz-breadcrumb>
</div>
<div class="container mx-auto py-6">
	<div class="flex flex-col md:flex-row justify-between items-center mb-6">
		<h1 class="text-xl font-semibold text-gray-800 mb-4 md:mb-0 flex items-center">
			<i nz-icon nzType="tag" nzTheme="outline" class="text-2xl mr-2"></i>

			Gestión de Marcas
		</h1>

		<div class="flex items-center space-x-4">
			<nz-input-group [nzSuffix]="suffixIconSearch" class="w-64">
				<input type="text" nz-input placeholder="Buscar marcas" [(ngModel)]="search" (keyup.enter)="searchTo()" />
			</nz-input-group>
			<ng-template #suffixIconSearch>
				<span nz-icon nzType="search"></span>
			</ng-template>
			<button (click)="openAgregarMarcaModal()" nz-button nzType="primary" class="flex items-center justify-center">
				<span nz-tooltip nzTooltipTitle="Agrega Marca" nz-icon nzType="plus" nzTheme="outline"></span>
			</button>

			<button
				(click)="downloadPDF()"
				nz-button
				nzType="primary"
				class="flex items-center justify-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110"
				nz-tooltip
				nzTooltipTitle="Descargar PDF"
			>
				<span nz-icon nzType="file-pdf" nzTheme="outline" class="mr-2"></span>
				PDF
			</button>
			<button
				nz-button
				nzType="primary"
				class="flex items-center justify-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110"
				nz-tooltip
				nzTooltipTitle="Descargar Excel"
			>
				<span nz-icon nzType="file-excel" nzTheme="outline" class="mr-2"></span>
				Excel
			</button>
		</div>
	</div>

	<nz-table
		#basicTable
		[nzData]="marcas"
		[nzLoading]="loading"
		[nzPageSize]="limit"
		[nzTotal]="total"
		[nzFrontPagination]="false"
		(nzPageIndexChange)="onPageChange($event)"
		nzShowSizeChanger
		[nzShowQuickJumper]="true"
	>
		<thead>
			<tr class="bg-gray-100">
				<th nzColumnKey="Nombre Rol" class="font-semibold text-gray-700">Marca</th>
				<th nzColumnKey="estado" class="font-semibold text-gray-700">Estado</th>
				<th nzColumnKey="estado" class="font-semibold text-gray-700">Fecha Creación</th>
				<th class="font-semibold text-gray-700">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let marca of basicTable.data" class="hover:bg-gray-50">
				<td class="font-medium text-gray-800">{{ marca.nombre_marca }}</td>
				<td>
					<nz-tag [nzColor]="marca.estado ? 'success' : 'error'" class="rounded-full px-3 py-1">
						{{ marca.estado ? 'Activo' : 'Inactivo' }}
					</nz-tag>
				</td>
				<td class="text-gray-600">{{ marca.created_at | date: 'MMM d, y, h:mm a' }}</td>
				<td nzAlign="left">
					<nz-space [nzSize]="8">
						<ng-container *nzSpaceItem>
							<button
								nz-button
								nzType="primary"
								nzShape="circle"
								nzSize="small"
								nz-tooltip
								nzTooltipTitle="Editar"
								(click)="openEditarModal(marca)"
							>
								<span nz-icon nzType="edit" nzTheme="outline"></span>
							</button>
						</ng-container>
						<ng-container *nzSpaceItem>
							<button
								nz-button
								nzType="primary"
								nzDanger
								nzShape="circle"
								nzSize="small"
								nz-tooltip
								nzTooltipTitle="Eliminar"
								(click)="deleteMarca(marca)"
							>
								<span nz-icon nzType="delete" nzTheme="outline"></span>
							</button>
						</ng-container>
					</nz-space>
				</td>
			</tr>
		</tbody>
	</nz-table>

	<div class="mt-4 text-right text-sm text-gray-600">
		<strong>Total de Marcas: {{ total }}</strong>
	</div>
</div>
