<div class="flex h-screen">
  <!-- Mitad izquierda - Formulario de inicio de sesión -->
  <div class="w-1/2 flex items-center justify-center bg-white">
    <form nz-form [formGroup]="validateForm" class="bg-gray-100 p-10 rounded-lg shadow-lg w-96" (ngSubmit)="submitForm()">
      <h2 class="text-center uppercase text-2xl mb-8 font-bold text-gray-800">Inicio de Sesión</h2>

      <nz-form-item class="mb-4">
        <nz-form-control nzErrorTip="Por favor, ingrese su email!">
          <nz-input-group nzPrefixIcon="mail">
            <input
              type="text"
              nz-input
              formControlName="email"
              placeholder="Email"
              class="w-full py-2 px-4 border rounded focus:outline-none focus:border-indigo-500"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="mb-4">
        <nz-form-control nzErrorTip="Por favor, ingrese su contraseña!">
          <nz-input-group [nzPrefix]="prefixTemplate" [nzSuffix]="suffixTemplate">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              formControlName="password"
              placeholder="Contraseña"
              class="w-full py-2 px-4 border rounded focus:outline-none focus:border-indigo-500"
            />
          </nz-input-group>
          <ng-template #prefixTemplate>
            <i nz-icon nzType="lock" nzTheme="outline"></i>
          </ng-template>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" nzTheme="outline" (click)="togglePasswordVisibility()"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <div nz-row class="flex items-center justify-between mb-6">
        <label nz-checkbox formControlName="remember" class="text-gray-700">
          <span>Recuérdame</span>
        </label>
      </div>

      <button
        nz-button
        class="bg-indigo-600 hover:bg-indigo-700 text-white font-semibold w-full rounded transition duration-300 ease-in-out mb-4"
        [nzType]="'primary'"
      >
        Iniciar sesión
      </button>


    </form>
  </div>

  <div class="w-1/2 bg-indigo-600 flex items-center justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-3/4 h-auto" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M7 10V7a5 5 0 1 1 10 0v3" />
      <path d="M7 10h10a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2z" />
    </svg>
    <!-- <img src="assets/icase-logo.jpeg" alt="Login Image" class="w-3/4"> -->

  </div>


</div>


<div *ngIf="isLoading" class="fixed top-0 left-0 w-screen h-screen bg-gray-900 bg-opacity-75 flex items-center justify-center z-50">
  <svg class="w-12 h-12 text-white animate-spin" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 4V2M12 22V20M4 12H2M22 12H20M5.64645 5.64645L4.22803 4.22803M18.3536 18.3536L16.9393 16.9393M5.64645 18.3536L4.22803 19.772M18.3536 5.64645L16.9393 7.0607" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
  </svg>
  <span class="text-white text-lg font-medium ml-4">Cargando...</span>
</div>

