<div>
	<nz-breadcrumb class="font-bold text-sm" [nzAutoGenerate]="true"> </nz-breadcrumb>
</div>
<div class="container mx-auto py-6">
	<div class="flex flex-col md:flex-row justify-between items-center mb-6">
		<h1 class="text-xl font-semibold text-gray-800 mb-4 md:mb-0 flex items-center">
			<i nz-icon nzType="tag" nzTheme="outline" class="text-2xl mr-2"></i>

			Gestión de Proveedores
		</h1>

		<div class="flex items-center space-x-4">
			<nz-input-group [nzSuffix]="suffixIconSearch" class="w-64">
				<input type="text" nz-input placeholder="Buscar marcas" [(ngModel)]="search" (keyup.enter)="searchTo()" />
			</nz-input-group>
			<ng-template #suffixIconSearch>
				<span nz-icon nzType="search"></span>
			</ng-template>
			<button nz-button nzType="primary" class="flex items-center justify-center">
				<span nz-icon nzType="plus" nzTheme="outline"></span>
			</button>
		</div>
	</div>

	<nz-table
		#basicTable
		[nzData]="proveedores"
		[nzLoading]="loading"
		[nzPageSize]="limit"
		[nzTotal]="total"
		[nzFrontPagination]="false"
		(nzPageIndexChange)="onPageChange($event)"
		nzShowSizeChanger
		[nzShowQuickJumper]="true"
	>
		<thead>
			<tr>
				<th nzColumnKey="Proveedor">Proveedor</th>
				<th nzColumnKey="Correo">Correo</th>
				<th nzColumnKey="Tipo Personal">Tipo Persona</th>
				<th nzColumnKey="Numero Documento">Documento</th>
				<th nzColumnKey="Telefono">Teléfono</th>
				<th nzColumnKey="Nombre Comercial">Comercial</th>
				<th nzColumnKey="Estado">Estado</th>

				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			@for (proveedor of basicTable.data; track proveedor.id_proveedor) {
				<tr>
					<td>{{ proveedor.tb_personas.nombres }}</td>
					<td>{{ proveedor.tb_personas.correo }}</td>
					<td>{{ proveedor.tb_personas.tb_tipo_persona.tipo_persona }}</td>
					<td>{{ proveedor.tb_personas.numero_documento }}</td>
					<td>{{ proveedor.tb_personas.telefono }}</td>
					<td>{{ proveedor.nombre_comercial }}</td>

					<td>
						<nz-tag [nzColor]="getColor(proveedor.estado_proveedor)">
							{{ proveedor.estado_proveedor }}
						</nz-tag>
					</td>

					<td>
						<a nz-tooltip nzTooltipTitle="Editar" nz-button nzType="link">
							<span nz-icon nzType="edit" nzTheme="outline"></span>
						</a>
						<a nz-tooltip nzTooltipTitle="Eliminar" nz-button nzType="link" nzDanger>
							<span nz-icon nzType="delete" nzTheme="outline"></span>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</nz-table>

	<div class="mt-4 text-right text-sm text-gray-600">
		<strong>Total de Marcas: {{ total }}</strong>
	</div>
</div>
